/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.comments-count {
    font-size: 0.9em;
}

.collection-item {
    cursor: pointer;
}

.unipg-card {
    border: 1px solid;
    font-family: Arial;
}

.unipg-card .unipg-card-section {
    border-bottom: 1px solid;
    padding: 20px;
}

.unipg-card p {
    margin: 10px 0;
}

.unipg-card textarea {
    font-size: 1rem;
    height: 100px;
    padding: 5px;
    resize: none;
    width: 100%
}

.unipg-card .unipg-card-section:last-of-type {
    border-bottom: 0;
}

.unipg-card .unipg-card-title {
    font-size: 30px;
    text-transform: capitalize;
}

.unipg-card .unipg-card-subsection {
    display: inline-block;
    width: 50%;
}

.unipg-card .unipg-card-subsection.unipg-card-subsection-align-right {
    text-align: right;
}

.unipg-card .unipg-card-link {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}


/**THEME*/
.unipg-card {
    background: #546e7a;
    border-color: #737373;
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: white;
}

.unipg-card .unipg-card-section {
    border-color: #737373;
}

.unipg-card textarea {
    background: white;
    color: black;
}

.unipg-card .unipg-card-link {
    color: #ffab40;
}