<nav class="teal">
    <div class="nav-wrapper container">
        <div class="col s12">
            <a ng-href="#/" class="breadcrumb">Home</a>
            <a class="breadcrumb">Festival</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="section" ng-controller="FestivalController">
        <h1>{{item.name}}</h1>
        <p>{{item.description}}</p>
    </div>

    <div class="section">
        <h5>Comments</h5>
        <ul class="collection">
            <li class="collection-item avatar" ng-repeat="comment in item.comments">
                <i class="material-icons circle red">perm_identity</i>
                <span class="title">{{comment.name}}</span>
                <p>{{comment.message}}</p>
                <a class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>
    </div>

</div>