<nav class="teal">
    <div class="nav-wrapper container">
        <a href="#/" class="brand-logo">Vendini Festivals</a>
    </div>
</nav>

<div class="container">
    <div class="section" ng-controller="HomeController">

        <div class="section">
            <h1>Festival collection</h1>
            <p>Add, edit or remove a festival from the collection.</p>
        </div>

        <div class="section">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">playlist_add</i>
                            <input id="add" type="text" ng-model="name" ng-keyup="add($event)">
                            <label for="add" data-error="wrong" data-success="right">Add item</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col {{selected ? 's6' : 's12'}}">
                    <div class="collection">
                        <a
                                ng-repeat="entry in collection | orderBy:'id'"
                                ng-click="select(entry)"
                                class="collection-item {{selected && selected.id == entry.id ? 'active' : ''}}">
                            {{entry.name}}
                        </a>
                    </div>
                </div>
                <div class="col s6" ng-hide="!selected">
                    <div class="unipg-card">
                        <div class="unipg-card-section">
                            <div class="unipg-card-title">{{selected.name}}</div>
                        </div>
                        <div class="unipg-card-section" ng-switch="selected.status">
                            <p ng-switch-when="filled">{{selected.description}}</p>
                            <div ng-switch-when="empty"><a class="unipg-card-link" ng-href="#" ng-click="edit($event)">Click to add a description</a></div>
                            <div ng-switch-when="editing">
                                <textarea id="description" ng-model="$parent.description" ng-keyup="addDescription($event)"></textarea>
                            </div>
                            <p>{{selected.comments.length}} comments</p>
                        </div>
                        <div class="unipg-card-section">
                            <div class="unipg-card-subsection">
                                <a href="" ng-click="remove($event, selected.id)" class="unipg-card-link">
                                    Remove
                                </a>
                            </div><!--
                            --><div class="unipg-card-subsection unipg-card-subsection-align-right">
                                <a href="" ng-href="#/festival/{{selected.id}}" class="unipg-card-link">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>